* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}


.banner {
    height: 100vh;
    width: 100%;
    background-image: url(../image/image2.jpg);
    background-size: cover;
}

body {
    background-color: black;
}

.navbar {
    display: flex;
    display: inline;
    justify-content: center;
    float: right;
}

.logo {
    float: left;
    width: 180px;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    /* 5s is the duration, you can change it */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    list-style: none;
    float: right;
    margin: 85px 30px;
    position: relative;
    display: block;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #009688;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1 {
    font-size: 80px;
    color: lightcoral;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-size: 25px;
    color: #009688;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

div a {
    text-decoration: none;
    color: aliceblue;
}

.navbar .menu-toggle {
    display: none;
    cursor: pointer;
    color: aliceblue;
}

@media (max-width: 768px) {

    .banner {
        height: 500px;
        background-position: -70px;
        background-image: url(../image/image2.jpg);
        background-size: cover;
        /* opacity: 80%; */
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 150px;
        left: 0;
        background-color: black;
        width: 100%;
    }


    .navbar ul li {
        margin: 40px 30px;
    }

    .navbar ul.show {
        display: flex;
        z-index: 100;
    }

    .navbar ul li {
        padding: 10px 0;
        text-align: center;
    }

    .navbar .menu-toggle {
        display: block;
        position: absolute;
        top: 75px;
        right: 15px;
    }
}