body {
    min-height: 100vh;
    position: relative;

    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 50px;
    align-items: center;
    font-size: large;
  }
  
  .logo img {
    height: 180px;
  }

  .logo img{
    float: left;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    /* 5s is the duration, you can change it */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: rgb(255, 30, 135); 
    font-weight: bold;
  }
  
  .nav-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(162, 187, 223); 
    transition: width 0.3s ease;
  }
  
  .nav-links a:hover::before {
    width: 100%;
  }
  .about-section {
    text-align: center;
    background-color: black;
    margin-top: -60px;
  }
  .about-section h1{
    color: rebeccapurple;
    margin-bottom: 70px;
  }
  .about-section h3, h4{
    color: white;
    margin: 10px;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
  
  * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  
  .footer {
    position: absolute;
    height: 25%;
    width: 100%;
    background: #3586ff;
    padding: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
  }

  .social-icon,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

  